*{
        box-sizing: border-box;

}
body{
    background-image: url(imge.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: 500px;

}
.reset{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.calculator {
  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
  width: 280px;
  background: rgba(0, 0, 0, 0.557);

}

input{
   
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 20px;

   
}
.number{
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.Operations{
 border: none;
border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.float{
 border: none;
border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.equal{
 border: none;
border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.number:hover{
    color: rgb(21, 193, 199);
    background-color:rgb(142, 141, 139);
    font-size: 1.4em;
}
.Operations:hover,
.float:hover,
.equal:hover,.reset:hover {
    color: rgb(21, 193, 199);
    background-color: rgb(142, 141, 139);
    font-size: 1.4em;
}
